<h2>我的技能树（成长中……）/My Skills Tree (Still growing)</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
		  Java
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 53%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Python
        </div>
        <div class="progress">
            <span class="blue" style="width: 50%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            ML
        </div>
        <div class="progress">
            <span class="red" style="width: 25%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            CV
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Go
        </div>
        <div class="progress">
            <span class="grey" style="width: 40%;"></span>
        </div>
    </div>
</section>
